<template>
  <div class="key-concepts">
    <!-- <p class="header">Key Concepts</p> -->
    <table class="outer">
      <tr>
        <td style="10%">
          <p v-if="ConceptArray.length==1" class="header">Key Concept</p>
          <p v-else class="header">Key Concepts</p>
        </td>

        <td>
          <table class="inner">
            <tr v-for="concept in ConceptArray">
              <td style="20%">
                <p class="concept">{{ concept.Concept }}</p>
              </td>
              <td style="70%">
                <p class="details">{{ concept.Details }}</p>
              </td>
            </tr>
          </table>
        </td>
        
      </tr>
    </table>
  </div>
</template>

<script>
module.exports = {
  name: "KeyConcepts",
  props: {
    ConceptArray: {
      type: Array,
      required: true
    }
  },
  // mounted: function() {
  // },

  data: function() {
    return {
      rawData: {},
      concepts: []
    };
  }
  // methods: {
  //   readFile: function() {
  //   }
  // }
};
</script>

<style scoped>
/* p {
  font-size: 2em;
  text-align: center;
} */
.concept {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: rgb(15, 22, 22);
  word-wrap: normal;
}
.details {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: black;
  word-wrap: normal;
}
.header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: rgb(2, 88, 36);
}
</style>

