<template>
  <div class="question-tf">
    <table style="width:100%">
      <tr>
        <td>
          <p class="header">
            <b>Quick Question:</b> True/False
          </p>

          <p class="question">{{ question }}</p>

          <label class="PossibleAnswers">
            True
            <input type="radio" name="radio" value="True" id="t" v-model="picked" />
            <span class="checkmark"></span>
          </label>

          <label class="PossibleAnswers">
            False
            <input type="radio" name="radio" value="False" id="f" v-model="picked" />
            <span class="checkmark"></span>
          </label>

          <button v-if="picked" v-on:click="checkAnswer">Submit</button>
          <p v-if="result">{{result}}</p>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
</template>

<script>
module.exports = {
  props: {
    question: {
      type: String,
      required: true
    },
    answer: {
      type: String,
      required: true
    },
    rightAnswerFeedback: {
      type: String,
      required: false,
      default: "Good job"
    },
    wrongAnswerFeedback: {
      type: String,
      required: false,
      default: "Good question to review later"
    }
  },
  data: function() {
    return {
      answered: false,
      picked: "",
      result: ""
    };
  },
  methods: {
    checkAnswer() {
      if (this.answer.toLowerCase() === this.picked.toLowerCase()) {
        this.result = "Correct. " + this.rightAnswerFeedback;
      } else {
        this.result = "Incorrect. " + this.wrongAnswerFeedback;
      }
    }
  }
};
</script>

<style scoped>
/* button {
  background-color: darkgreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: crosshair;
  opacity: 0.9;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
p {
  font-size: 22px;
  text-align: center;
}
.info {
  text-align: left;
  font-size: 22px;
  font-family: Arial, sans-serif;
}
.instructions {
  text-align: left;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.header {
  font-size: 22px;
  text-align: left;
  font-family: Arial, sans-serif;
}
.question {
  font-size: 18px;
  text-align: left;
  font-family: Arial, sans-serif;
} */
table {
  border-color: darkgreen;
  border-style: solid;
  border-width: 3px;
  border-spacing: 5px;
}
td {
  padding-top: 5px;
  padding-left: 25px;
  padding-bottom: 25px;
}

/* Customize the label (the container) */
/* .PossibleAnswers {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* Hide the browser's default radio button */
/* .PossibleAnswers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} */

/* Create a custom radio button */
/* .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: darkgreen;
  border-radius: 50%;
} */

/* On mouse-over, add a grey background color */
/* .PossibleAnswers:hover input ~ .checkmark {
  background-color: lawngreen;
} */

/* When the radio button is checked, add a blue background */
/* .PossibleAnswers input:checked ~ .checkmark {
  background-color: darkgreen;
} */

/* Create the indicator (the dot/circle - hidden when not checked) */
/* .checkmark:after {
  content: "";
  position: absolute;
  display: none;
} */

/* Show the indicator (dot/circle) when checked */
/* .PossibleAnswers input:checked ~ .checkmark:after {
  display: block;
} */

/* Style the indicator (dot/circle) */
/* .PossibleAnswers .checkmark:after {
  top: 6px;
  left: 6px;
  width: 13px;
  height: 13px;
  border-radius: 80%;
  background: white;
} */
</style>

