code {
  white-space : pre-wrap !important;
}
/* top | right | bottom | left */

.left {
  margin: 0 1em 0 1em;
  padding: 0 1em 0 1em;
  font-style: italic
  }

.readmore {
  margin: 0 3em 0 3em;
  padding: 0 1em 0 1em;
  border-radius: 0.2rem;
  background-color:lightgray;
  font-weight: normal;
  font-size: 18px;
  font-family: Arial, sans-serif;
}
.readmoretitle {
   padding: 0 0 00;
    font-weight: bold;
    font-size: 24px;
    color: darkslategrey 
    font-family: Arial, sans-serif;
}

.thinkaboutit {
  margin: 1rem 0;
  padding: .1rem 1.5rem;
  border-radius: 0.5rem;
  background-color:palegoldenrod;
}
.title {
    font-weight: bold;
    font-size: 26px;
    font-family: Arial, sans-serif;
    color: darkslategray 
}

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

button {
  background-color: darkgreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: crosshair;
  opacity: 0.9;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.info {
  text-align: left;
  font-size: 22px;
  font-family: Arial, sans-serif;
}
.instructions {
  text-align: left;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.header {
  font-size: 22px;
  text-align: left;
  font-family: Arial, sans-serif;
}
.question {
  font-size: 22px;
  text-align: left;
  font-family: Arial, sans-serif;
}


/* Customize the label (the container) */
.PossibleAnswers {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.PossibleAnswers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: darkgreen;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.PossibleAnswers:hover input ~ .checkmark {
  background-color: lawngreen;
}

/* When the radio button is checked, add a blue background */
.PossibleAnswers input:checked ~ .checkmark {
  background-color: darkgreen;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.PossibleAnswers input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.PossibleAnswers .checkmark:after {
  top: 6px;
  left: 6px;
  width: 13px;
  height: 13px;
  border-radius: 80%;
  background: white;
}